<!-- 정적인 파일을 로드해라( settings.py에서 밝혔다. 정적인 파일에 해당하는 것: css, img) -->
<!-- 결국 html파일 안에서 장고의 명령을 % 파이썬 명령%파이썬 명령 = 장고 명령 -->
<!-- 조상에 해당하는 놈이다. -->
{% load staticfiles %}

<html>
    <head>
        <title>Django Girls blog</title>
        <!--  css 연결하는 역활, 웹에 있는 css를 가져온다.-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
        <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanumpenscript.css">
        <!-- static 폴더에 가서 이것을 찾아오라 -->
          <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <div class="page-header">
        {% if user.is_authenticated %}
          <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-align-left"></span></a>
          <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
          <p class="top-menu">안녕하십니까? {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
        {% else %}
          <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
          <h1><a href="/">Django Girls Blog(jhj's blog)</a></h1>
      </div>
      <div class="content container">
          <div class="row">
              <div class="col-md-8">
                <!--  핵심부분-->
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>
  </body>
</html>
