h1{
  font-weight: bold;
  color: #ffffff;
}
li{
  list-style: none;
}
li a {
    color: #F7E967;
    text-decoration: none;
}
input {
  margin:10px;
}
body {
    background: #04BFBF  url("images/background.gif") no-repeat right bottom;
}
a{
  text-decoration: none;
}
h1 a :hover{
  text-decoration: none;
  color: white;
}
